body {
	Overflow-x: visible;
	padding: 0;
	margin: 0;
	width: auto;
	font-family: 'Calibri';
}

.container {
      overflow-x: scroll;
      white-space: nowrap;
}

.hidden{
    display: none !important;
    border: 0px solid #c4c1c1;
}

#wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	margin: 0;

}

#wrapper>div {
	float: left;
	width: auto;

	/*width: 100%;*/
}

#panel {
	display: block !important;
	position: relative;
	width: 100% !important;
	top: 20;
	background-color: white;
	z-index: 1;
	margin-bottom: 20px;
}

#info {
	margin-bottom: 10px;
}

#info {
	top: 20px;
}

#count {
	margin-bottom: 10px;
}

#analytics {
	margin-bottom: 10px;
}

.spoiler-content {
  display: none;
  margin-top: 10px;
}


#odds_row_info {
	margin-bottom: 10px;
}

#tables {
	display: flex;
}

#tables>div {
	display: inline-block;
}

thead td {
	text-align: center;
}

table td {
	border: 1px solid #c4c1c1;
	padding: 0 10px;
	width: auto;
	white-space: nowrap;
	text-align: center;
}

table td.table_title {
	background-color: #e1e1e1;
}

thead {
	background-color: #e1e1e1;
}

.bookmaker_td {
	display: table-cell;
	padding: 0;
}

.bookmaker_table {
	padding: 0;
}

table td.odds_cell {
	padding: 0 0 !important;
	min-width: 300px;
	min-height: 250px !important;
}

table td.Home {
	background-color: #70f336;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.Away {
	background-color: #f36b6b;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.Draw {
	background-color: #ffc000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.None {
	background-color: #e1e1e1;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.Under {
	color: #008000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.Over {
	color: #FF0000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.Yes {
	color: #FF0000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.No {
	color: #008000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.open_1 {
	background-color: #e3f9e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.open_2 {
	background-color: #e3f9e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.open_3 {
	background-color: #e3f9e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.closed_1 {
	background-color: #f9e2e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.closed_2 {
	background-color: #f9e2e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table td.closed_3 {
	background-color: #f9e2e2;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.bookmaker_table[data-bookmaker-id="2"] .table_title {
	background-color: black;
	color: white;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="5"] .table_title {
	background-color: #38A533;
	color: white;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="15"] .table_title {
	background-color: #000C3B;
	color: yellow;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="16"] .table_title {
	background-color: #007c5b;
	color: yellow;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="18"] .table_title {
	background-color: black;
	color: red;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="147"] .table_title {
	background-color: #ae0002;
	color: #ffd41e;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="381"] .table_title {
	background-color: #D7191A;
	color: white;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="390"] .table_title {
	background-color: #790A0B;
	color: white;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="417"] .table_title {
	background-color: #074176;
	color: white;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="550"] .table_title {
	background-color: #141821;
	color: #fe7e01;
	font-weight: 500;
}

table.bookmaker_table[data-bookmaker-id="581"] .table_title {
	background-color: #5e6728;
	color: white;
	font-weight: 500;
}

#games_data thead tr:first-child {
	height: 70px;
}


.table_title {
	padding-left: 1;
	padding-right: 2;
}

.bet_table_title {
	padding-left: 1;
	padding-right: 2;
	height: 44px;
}

.full_time {
	color:#0461e6;
	font-weight: 600;
}

.ot_time {
	color:#007c5b;
	font-weight: 600;
}
.bet_title {
	font-weight: 600;
}

.bet_type_title {
	color: #ce5207;
	font-weight: 600;
}


.close_open_btn {
	float: left;
	font-size: 18px;
	cursor: pointer;
	width: 21px;
	display: none;
}

.hide>tbody>tr>td,
.hide>thead>tr>td {
	padding: 1px;
	font-size: 0;
}

.filter_active {
	background: grey;
	color: black;
}

#close_filter_window {
	top: 5px;
	right: 5px;
	position: absolute;
	cursor: pointer;
}

#close_filter_window:hOver {
	text-decoration: Underline;
}

#pagination {
	width: 100%;
	float: left;
}

#pagination a {
	display: inline-block;
	margin-right: 5px;
}

.cur_page {
	cursor: pointer;
	background: grey;
}

[data-filter-odd]:hOver,
[data-filter-game]:hOver {
	background: grey;
	cursor: pointer;
	color: white;
}

input[type="button"] {
	cursor: pointer;
}

#filter_window {
	width: 200px !important;
	display: none;
	position: absolute;
	background: white;
	border: 1px solid #e9e9ed;
	padding: 15px;
}

/* freelancehunt */
.filter_cell {
	cursor: pointer;
}

.filter_cell:hover {
  background: grey;
  color: black;
}

.filterit__icon {
	display: block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	flex-shrink: 0;
}
.filterit__title {
	margin-bottom: .4em;
	background-color: #f7f7f7;
	padding: 8px 14px;
	border-bottom: 1px solid #ebebeb;
	font-size: 0.875rem;
	border-radius: 5px 5px 0 0;
}
.filterit__content {
	padding: 9px 14px;
}
.filterit__field {
	margin-bottom: .5rem;
}
.filterit__input-wrap {
	position: relative;
}
.filterit__input,
.filterit__select {
	min-width: 225px;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cccccc;
	color: #555555;
	font: inherit;
	font-size: 0.875rem;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear .2s, box-shadow linear .2s;
}
.filterit__input {
	padding: 0 24px 0 6px;
	text-overflow: ellipsis;
}
.filterit__select {
	padding: 0 6px;
}
.filterit__input:focus,
.filterit__select:focus {
	outline: none;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.filterit__query-clear {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: visibility .3s, opacity .3s;
}
.filterit__input:placeholder-shown + .filterit__query-clear {
	visibility: hidden;
	opacity: 0;
}
.filterit__actions {
	display: flex;
	column-gap: .3rem;
}
.filterit__btn {
	box-sizing: border-box;
	padding: 0 12px;
	border: 1px solid;
	border-radius: 4px;
	flex-grow: 1;
	height: 30px;
	font: inherit;
	font-size: 0.875rem;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	column-gap: .3em;
	background-repeat: repeat-x;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.filterit__btn:hover {
	transition: background-position 0.1s linear;
	background-position: 0 -15px;
}
.filterit__btn > svg {
	font-size: 1rem;
}
.filterit__btn_theme_primary {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #fff;
}
.filterit__btn_theme_primary:hover {
	background-color: #0044cc;
}
.filterit__btn_theme_light {
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	color: #333333;
}
.filterit__btn_theme_light:hover {
	background-color: #e6e6e6;
}
.filterit__options {
	margin-bottom: .5rem;
}
.filterit__option {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.filterit-highlighted {
	background-color: #f00;
}

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('/static/index_app/img/loading.gif') no-repeat center;
	z-index: 999;
}
.wait-cursor {
    cursor: wait;
  }

.spoiler-content {
    display: none;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
  }

.hide-table {
    width: 10px;
  }
  
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Alert box start */
.alert {
  width: 50%;
  margin: 20px auto;
  padding: 0px 10px 0px 10px;
  position: relative;
  border-radius: 5px;
  top: -20px
}

.alert p {
  color: #0e566c;
  margin-top: 5px;
}

.alert h3 {
  margin-bottom: 3px;
}

.close {
  position: absolute;
  opacity: 0.5;
  border-width: 1px;
  border-radius: 50%;
  right: 15px;
  top: 0px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}

.simple-alert {
  background-color: #f8ffff;
  border-left: 5px solid #bedfe6;
  border: 1px solid #bedfe6;
}
.simple-alert .close {
  border-color: #6c6c6c;
  color: #6c6c6c;
}

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;
}
.success-alert .close {
  border-color: #178344;
  color: #178344;
}

.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c;
}
.danger-alert .close {
  border-color: #8f130c;
  color: #8f130c;
}

.warning-alert {
  background-color: #ffd48a;
  border-left: 5px solid #8a5700;
}
.warning-alert .close {
  border-color: #8a5700;
  color: #8a5700;
}
/* Alert box end * /