.tippy-box[data-theme~=light] {
	color:#26323d;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	padding: 1px;
}
.tippy-box[data-theme~=light] .tippy-content {
	padding: 0;
}
.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before {
	border-top-color:#fff
}
.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color:#fff
}
.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before {
	border-left-color:#fff
}
.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before {
	border-right-color:#fff
}
.tippy-box[data-theme~=light]>.tippy-backdrop {
	background-color:#fff
}
.tippy-box[data-theme~=light]>.tippy-svg-arrow {
	fill:#fff
}